.container{
  margin-top: 40px;
  max-width: 80rem;
}
.justified{
  text-align: justify;
}
img{
  border: 1px dashed gray
}

/* .button-custom {
  background-color: #2962FF;
  border-color: #2962FF;
}
.button-custom.button-clear,
.button-custom.button-outline {
  background-color: transparent;
  color: #2962FF;
}
a{
  color:#2962FF
} */
